/* navbar */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    
}

html {
  scroll-behavior: smooth;
}


@media (min-width: 375px) and (max-width: 492.98px) {
    .front_page {
        margin: 0 20px 0 20px;
    }
}

.front_page img{
    max-height: 100vh;
    border-radius: 5px;
}

@media (min-width: 375px) and (max-width: 492.98px) {
    .carousel slide {
        height: 30vh !important;
    }
}

.pgraph {
    line-height: 1.8;
    font-weight: 400;
    text-align: justify;
}



/* navbar end */

/*Front Section*/
.front {
    position: relative;
    background-image: url('assets/first-bg.PNG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    z-index: 0;
}

.front::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.front > * {
    position: relative;
    z-index: 2;
}

.h1{
    padding-left: 10%;
}


.carousel-caption {
    position: absolute;
    bottom: 25%;
    left: 2%;
    max-width: 90%;
    font-size: 0.9rem;
    text-align: left;
    color: #fff;
    font-family: 'Lora', serif;
    transform: translateY(0); 
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

@media (max-width: 767px) {
    .carousel-caption {
       display: none;
    }
}

@media (min-width: 768px) {
    .carousel-caption {
        bottom: 10%;
        left: 10%;
        max-width: 35%;
        transform: translateY(-10%);
    }
}



/*About Church*/


.about_church{
    padding-bottom: 30px;
}

.more{
    background-color: var(--main-bg-color);
    padding: 12px 50px 12px 50px;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #fff !important;
    font-size: 14px;
    font-weight: 500;
    height: 45px;
    border: none;
    margin-left: 20px;
}


/*About Pastor*/

.about_pastor {
    background-color: #023107;
    color: #fff;
    position: relative;
    overflow: hidden;
    padding-bottom: 30px;

}



.pastor_logo {
    
    background-image: url('assets/logo/cbbc.png');
    background-repeat: no-repeat;
    background-size: contain; 
    background-position:  center;
    opacity: 0.1; 
    position: absolute;
    top: 100px;
    left: 50px;
    width: 80%;
    height: 80%;
    z-index: 0;
}

.about_pastor .container {
    position: relative;
    z-index: 1;
}


.church_gallery img {
    transition: filter 0.3s ease;
}

.church_gallery img:hover {
    filter: brightness(70%);
}

.overlay {
    background-color: rgba(0, 50, 0, 0.85);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



.contact-container {
    position: relative;
    z-index: 1;
}

.contact-box {
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.icon {
    font-size: 1.5rem;
    margin-right: 10px;
    color: #00ff99;
}

.form-control::placeholder {
    color: #999;
}

.btn-green {
    background-color: #0a601c;
    color: white;
}

.btn-green:hover {
    background-color: #084c17;
}

.contact{
    background: url('assets/contact.jpg') no-repeat center center/cover;

    color: white;
    position: relative;
}

.typing {
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid orange;
  animation: typing 3s steps(30, end), blink .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink {
  from, to { border-color: transparent }
  50% { border-color: orange }
}


/* Chat Bot Section*/

/* Chat Bot Section */

#chat-bot-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    background-color: #73BD1E;
    border: 2px solid #fff;
    border-radius: 100%;
    cursor: pointer;
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.8);
}
#chat-bot-button i{
    margin: 0;
    padding: 16px 12px;
    font-size: 24px;
    color: #fff;
}


#chat-interface {
    position: fixed;
    bottom: 5px; 
    right: 50px;
    width: 30%;
    height: 60%;
    background-color: #fff;
    border: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    z-index: 1000;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

@media (max-width: 768px) {
    #chat-interface {
        width: 80%;
        bottom: 5px;
        right: 5px;

        
    }
}

#chat-interface.hidden {
    opacity: 0;
    transform: translateY(100%);
    pointer-events: none; 
}

#chat-interface:not(.hidden) {
    opacity: 1;
    transform: translateY(0);
}

#chat-header {
    background-color: #084c17;
    color: #fff;
    padding: 10px;
    padding-bottom: 0;
    justify-content: space-between;
    display: flex;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.chat-header p{
  display: grid;
  margin: auto;
}


#chat-header button {
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
}



#chat-footer {
    padding: 10px;
    background-color: #f1f1f1;
    border-top: 1px solid #ddd;
    display: flex;
    align-items: center;
}

#chat-bot-button.hidden {
    display: none;
}

.admin-chat{
    display: flex;
    font-weight: bold;
    gap: 5px;

}

#chat-body{
  padding: 10px;
  padding-bottom: 20px;
  overflow-y:  auto;
  height: auto;
}




.admin p{
    align-items: center;
    display: grid;
    margin: auto;
    color: #084c17;
    margin-left: 5px;

}

.admin .text{
    background-color: #084c17;
    color: #fff;
    padding: 10px;
    display: flex;
    border-radius: 10px;
    margin: auto;
    font-size: 13px;
    padding-left: 10px !important;
    width: 80%;
}


.admin img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.button-bot{
  padding: 0 10px;
}
.button-bot button{
  background-color: #084c17;
  border: transparent;
  color: #fff;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
    
}

#chat-bot-button.hidden {
  display: none;
}

/*Chat Bot Section End*/

/*Foooter*/

footer{
    color: white !important;
}

.footer{
    background-color: #023107;
}

.footer i{
    color: #fff;
}
.a-link{
    color: white !important;
    font-weight: 400;
}

/*Footer Section*/

  